*{
   font-family: 'Montserrat';  
}


.form-text-header-black {
  text-shadow: 2px 2px 4px rgba(4, 41, 226, 0.3);
  font-weight: 800;
  text-emphasis: dark;
}

.form-text-header-red {
  text-shadow: 2px 2px 4px rgba(129, 2, 2, 0.3);
  font-weight: 800;
  text-emphasis: dark;
  font-family: sans-serif;
}

.form-text-header-green {
  text-shadow: 2px 2px 4px rgba(1, 101, 29, 0.3);
  font-weight: 700;
  text-emphasis: dark;
  font-family: sans-serif;
}

